<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="sibar">
                    <div class="sibar-control">
                        <button id="btn-info-admin" data-render="manage-admin" class="">Quản Lí Thông tin</button>
                    </div>
                    <div class="sibar-control">
                        <button id="btn-price" data-render="manage-price">Quản Lí Price</button>
                    </div>
                    <div class="sibar-control">
                        <button id="btn-rented-bike" data-render="rented-bike">Xem xe đã thuê</button>
                    </div>
                    <div class="sibar-control">
                        <button id="btn-all-code-control" data-render="all-code-control">Quản lý dữ liệu chung</button>
                    </div>
                </div>
            </div>

            <div class="col-10 min-vh-100" id="">
                <div class="form-info-admin form-content"></div>
            </div>
        </div>
    </div>
</div>


<script>
    if (!JSON.parse(localStorage.getItem("isLoginIn"))) {
        alert("Bạn không có quyền!");
        window.location.href = "http://localhost:8080/System";
    }

    const arrRender = [{
        renderKey: "manage-admin",
        elementRender: `~/Views/System/InfoAdmin.cshtml`
    }, {
        renderKey: "manage-price",
        elementRender: "~/Views/System/PriceCars.cshtml"
    }, {
        renderKey: "rented-bike",
        elementRender: `/RentedBike`

    }, {
        renderKey: "all-code-control",
        elementRender: `/AllCode`
    }]
    function loadPartial(viewUrl, callback) {
        fetch(viewUrl)
            .then(async (res) => await res.text())
            .then(res => {
                callback(res);
            });
    }

    function renderPartial(content) {
        renderContent.innerHTML = content;
    }

    const btnElements = document.querySelectorAll("button[data-render]");
    const renderContent = document.querySelector(".form-content");

    btnElements.forEach((btn) => {
        btn.addEventListener("click", (e) => {
            const dataActive = e.target.dataset.render;
            const dataRender = arrRender.find(item => item.renderKey === dataActive);
            if (dataRender && renderContent) {
                loadPartial(dataRender.elementRender, renderPartial);
            }
            btnElements.forEach((btnChild) => {
                btnChild.classList.remove("active");
            });
            if (dataRender) {
                btn.classList.add("active");
            }
        });
    });
    const keyactive = window.location.search.split("=")[1];
    if (keyactive) {
        const dataRender = arrRender.find(item => item.renderKey === keyactive);
            if (dataRender && renderContent) {
                loadPartial(dataRender.elementRender, renderPartial);
            }
            btnElements.forEach((btnChild) => {
                btnChild.classList.remove("active");
            });
            if (dataRender) {
                btn.classList.add("active");
            }
        }

    @*function loadPartial(query, callback) {
        fetch(`/System/InfoAdmin?query=${query}`)
            .then(async (res) => await res.text())
            .then(res => {
                callback(res)
            })
    }

    function renderPartial(content) {
        console.log(content);
        renderContent.innerHTML = content;
    }

    loadPartial("~/Views/System/InfoAdmin.cshtml", renderPartial)
    const btnElements = document.querySelectorAll("button[data-render]");
    const renderContent = document.querySelector(".form-content");

    btnElements.forEach((btn) => {
        btn.addEventListener("click", (e) => {
            const dataActive = e.target.dataset.render;
            const dataRender = arrRender.find(item => item.renderKey === dataActive);
            if (dataRender && renderContent) {
                loadPartial(dataRender.elementRender, renderPartial);
            }
            btnElements.forEach((btnChild) => {
                btnChild.classList.remove("active");
            })
            if (dataRender) {
                btn.classList.add("active");
            }
        })
    }) *@




    @* const sibInfoAdmin = document.querySelector("#btn-info-admin");
        const sibPrice = document.querySelector("#btn-price");

        const handleRemoveActive = () => {

        const listButton = document.querySelectorAll(".sibar button");

        listButton.forEach(button => {
        button.classList.remove("active");
        });
        }

        const handleAddDisplayNone = () => {
        const listContents = document.querySelectorAll(".form-content");
        listContents.forEach(div => {
        div.classList.add("display-none")
        })

        } *@

    @* info admin *@
    @*
        sibInfoAdmin.addEventListener("click", function () {

        const content = document.querySelector(".form-info-admin")

        handleRemoveActive();
        handleAddDisplayNone();

        content.classList.remove("display-none")
        sibInfoAdmin.classList.add("active");
        }); *@

    @* price *@

    @* sibPrice.addEventListener("click", function () {

        const content = document.querySelector(".form-price ")

        handleRemoveActive();
        handleAddDisplayNone();

        content.classList.remove("display-none")
        sibPrice.classList.add("active");
        }); *@




</script>