@{
    ViewData["Title"] = "Quản lí xe dành cho admin";
    ViewData["Description"] = "MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe tại một điểm và trả xe tại một điểm khác trên cùng một hệ thống.";

    var info = ViewBag.Info as InfoLoginDto;
    var email = ViewBag.Email as string;
    var password = ViewBag.Password as string;
    var check = ViewBag.Check as string;
}

<div  class="form-login">
    <div class="form-control shadow">
        <div class="form-header">
            <h4>Login</h4>
        </div>


<form asp-action="HandleLogin" method="post" asp-controller="System">
    <p>@check</p>
        <div class="form-input">
            <label for="email"><i class="bi bi-person"></i>Email</label><br/>
            <input type="text" id="email" placeholder="Type your Email"  name="email" value="@email">
        </div>

        <div class="form-input">
            <label for="password"><i class="bi bi-key"></i>Password</label><br/>
            <input type="password" id="password" required placeholder="Type your password" name="password" value="@password">
        </div>

        <div class="form-forget">
            <p>forget password ?</p>
        </div>

        <button>Login</button>
                </form>


        <div class="form-logo">
            @* <img src="https://motogo.vn/wp-content/themes/motogo/images/moto-icon.jpg" alt=""> *@
            <img src="https://motogo.vn/wp-content/themes/motogo/images/logo.svg" alt="">
</div>
    </div>
</div>


<script>
    if(window.location.search.includes("isValid")) {
        alert("Email hoặc mật khẩu chưa đúng");
        window.location.href = window.location.href.replace(window.location.href.split("?")[1], "")
    }
    
    if(window.location.search.split("?")[1]?.split("&")?.length ===2){
        localStorage.setItem("isLoginIn", "true");
        const data = [];
        if(window.location.search.split("?")[1]?.split("&")?.length ===2) {
            window.location.search.split("?")[1].split("&").forEach(x => {
                const value = x.split("=")[1];
                data.push(value);
            })
        }
        localStorage.setItem("dataUser", JSON.stringify(data));
        window.location.href = "http://localhost:8080/System/Dashboard";
    }

    if(JSON.parse(localStorage.getItem("isLoginIn"))) {
          window.location.href = "http://localhost:8080/System/Dashboard";
    }
    
</script>