<div class="main-info">
    <h4>
        Thông Tin Admin
    </h4>

    <form asp-action="HandleChangeInfoAdmin" method="post" asp-controller="InfoAdmin">
        <div class="form-content">
            <div class="form-input">
                <label for="">Email</label><br />
                <input type="email" class="input-email" name="email">
            </div>

            <div class="form-input">
                <label for="">Password</label><br />
                <input type="text" class="input-password" name="password">
            </div>
        </div>

        <div class="form-button">
            <button>Update</button>
        </div>
    </form>

</div>

<script>

    let dataUser = JSON.parse(window.localStorage.getItem("dataUser"));
    if (dataUser && Array.isArray(dataUser)) {
        const inputEmail = document.querySelector(".input-email");
        const inputPassword = document.querySelector(".input-password");
        inputEmail.value = dataUser[0];
        inputPassword.value = dataUser[1];
    }


    if (window.location.search.includes("isChanged")) {
        if (window.location.search.split("isChanged=")[1]?.split("&password=")[0] === "True") {
            let data = JSON.parse(localStorage.getItem("dataUser"));
            data.pop();
            const passwordNew = window.location.search.split("&password=")[1];
            data.push(passwordNew);
            localStorage.setItem("dataUser", JSON.stringify(data));
            window.location.href = "http://localhost:8080/infoadmin";
            alert("Bạn đã thay đổi mạt khẩu thành công");
        }
        else {
            alert("Đổi mật khẩu thất bại bạn vui lòng thử lại sau !");
        }
    }

</script>
