<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="service">
        <div class=" row justify-content-evenly row-serviece">
            <div class="col col-service">
                <span>
                    <i class="bi bi-hand-thumbs-up"></i>
                </span>
                <div class="content-service">
                    <h2 class="main-content">
                        KHÔNG TIỀN ĐẶT CỌC
                    </h2>
                    <p class="text-content">
                        Khách hàng không phải đặt cọc bất cứ khoản tiền cho việc thuê xe máy nào nếu có đầy đủ các giấy
                        tờ yêu cầu được quy định trong chính sách của cty. Chi tiết thủ tục giấy tờ vui lòng xem tại mục
                        chính sách thuê xe của chúng tôi.
                    </p>
                </div>
            </div>
            <div class="col col-service">
                <span>
                    <i class="bi bi-card-checklist"></i>
                </span>
                <div class="content-service">
                    <h2 class="main-content">
                        1 NGÀY THUÊ = 24H
                    </h2>
                    <p class="text-content">
                        Không giống như các đơn vị cho thuê xe khác, ngày thuê xe được tính từ sáng đến chiều, vậy với
                        cùng khoảng thời gian thuê xe 24h bạn luôn phải trả nhiều tiền hơn so với việc thuê xe của
                        MOTOGO. Cách tính 1 ngày thuê xe = 24h của chúng tôi cực kỳ có lợi cho người thuê xe.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly row-serviece">
            <div class="col col-service">
                <span>
                    <i class="bi bi-bicycle"></i>
                </span>
                <div class="content-service">
                    <h2 class="main-content">
                        DỊCH VỤ GIAO, TRẢ XE TẬN NƠI
                    </h2>
                    <p class="text-content">
                        Chúng tôi cung cấp dich vụ giao xe tận nơi cho bạn với một khoản phí phát sinh thấp. Chi phí
                        giao xe sẽ được tính toán theo địa điểm giao nhận xe của khách và phí mỗi lần không vượt quá
                        40k.
                    </p>
                </div>
            </div>
            <div class="col col-service">
                <span>
                    <i class="bi bi-gear-fill"></i>
                </span>
                <div class="content-service">
                    <h2 class="main-content">
                        ĐI BAO NHIÊU THANH TOÁN BẤY NHIÊU
                    </h2>
                    <p class="text-content">Từ ngày thuê xe thứ 2 trở đi cách tính giá thuê xe theo giờ sẽ được áp dụng,
                        với mỗi giờ phát sinh của xe số chúng tôi sẽ thu thêm 15k, xe tay ga là 20k. Thuê xe quá 9 tiếng
                        sẽ được tính tròn 1 ngày thuê xe. Trả xe sớm MOTOGO sẽ hoàn tiền thừa lại cho bạn.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>