@{
    var data = ViewBag.Data as List<ProductDTO>;
    var query = ViewBag.Query as string;
    ViewData["Title"] = "Tìm kiếm xe với từ khóa " + query;
    Console.WriteLine("data : " + data);
}

<div>
    @* <h2 class="text-center mt-5 pt-4">Kết quả tìm kiếm</h2> *@
    @if (data != null)
    {
        <div style="width: 100%; overflow: hidden;">
            <form asp-action="/Home/Search" method="post" style="max-width: 50%; margin: 0 auto;margin-top: 30px;">
                <div style="display: flex; align-items: center; gap: 4px; padding: 2px 4px;">
                    <input type="text" class="form-control" value="@query" name="viewInput"
                        placeholder="Nhap xe tim kiem..." required />
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </div>
            </form>
            <div class="render-car-bike row">
                @foreach (var item in data)
                {
                    <div class="render-car-bike--item col-6">
                        <a href="/product/ProductDetail?id=@item.id&name=@item.model">
                            <img src="/assets/imgs/@item.thumbnail" alt="">
                            <div>
                                <h5>@item.model</h5>
                                <p class="m-0">@item.brand</p>
                                <p>@item.capacity Phân Khối</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>No data available</p>
    }
</div>