<div class="form-home-wp">
    <div class="overlay"></div>
    <div class="container" style="height: 100%;">
        <div class="wp-form-home">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                        <div>
                            <h1>Dịch vụ thuê xe máy</h1>
                            <p>Chúng tôi hiểu cảm giác của người đi thuê xe máy phải bỏ ra một số tiền để có được một
                                chiếc
                                xe
                                đủ
                                tốt, không gặp rắc rối khi đi trên đường. Tuy nhiên thật khó để tìm được một đơn vị cung
                                cấp
                                dịch vụ
                                cho thuê xe uy tín, chất lượng hiện nay. MOTOGO - tiên phong trở thành đơn vị số 1 về
                                cung
                                cấp
                                dịch
                                vụ thuê xe máy tự lái tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-wp-right">
                        <form action="">
                            <div>
                                <h3>THÔNG TIN NHẬN XE</h3>
                                <div class="mb-2">
                                    <select name="" id="" class="form-control" required>
                                        <option value="">Chọn điểm nhận xe</option>
                                    </select>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="check_tra_xe">
                                    <label class="form-check-label" for="check_tra_xe">Nhận trả xe cùng địa điểm</label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <h3>THÔNG TIN TRẢ XE</h3>
                                <div class="mb-3">
                                    <select name="" id="" class="form-control" required>
                                        <option value="">Chọn điểm trả xe</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="date" class="form-control" placeholder="Ngày trả xe" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-warning w-100 py-2" style="font-weight: 600;">TÌM
                                        KIẾM</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>