<div class="form-home-wp">
    <div class="overlay"></div>
    <div class="container">
        <div class="wp-form-home">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex justify-content-center align-items-center h-full">
                        <div>
                            <h1>Dịch vụ thuê xe máy</h1>
                            <p>Chúng tôi hiểu cảm giác của người đi thuê xe máy phải bỏ ra một số tiền để có được một
                                chiếc
                                xe
                                đủ
                                tốt, không gặp rắc rối khi đi trên đường. Tuy nhiên thật khó để tìm được một đơn vị cung
                                cấp
                                dịch vụ
                                cho thuê xe uy tín, chất lượng hiện nay. MOTOGO - tiên phong trở thành đơn vị số 1 về
                                cung
                                cấp
                                dịch
                                vụ thuê xe máy tự lái tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <h3>Thông tin nhận xe</h3>
                        <form action="">
                            <div class="mb-3">
                                <select name="" id="" class="form-control">
                                    <option value="">Chọn điểm nhận xe</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select name="" id="" class="form-control">
                                    <option value="">Chọn điểm nhận xe</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select name="" id="" class="form-control">
                                    <option value="">Chọn điểm nhận xe</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select name="" id="" class="form-control">
                                    <option value="">Chọn điểm nhận xe</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>