<header class="shadow-sm">
    <div class="container">
        <div class="header-wp">
            <div class="left-header">
                <a href="/">
                    <partial name="../icons/logo.cshtml" />
                </a>
            </div>
            <div class="right-header">
                <ul>
                    <li>
                        <a href="/thue-xe-may">Thuê Xe Máy</a>
                    </li>
                    <li>
                        <a href="/about/pricelist">Bảng Giá</a>
                    </li>
                    <li>
                        <a href="/about/policyBooking">Chính Sách</a>
                    </li>
                    <li>
                        <a href="/about/introduce">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="/about/contact">Liên Hệ</a>
                    </li>
                    <li>
                        <a href="/chinh-sach">Blog Du Lịch</a>
                    </li>
                    <li>
                        <i class="bi bi-search" id="icon-search"></i>
                        <i class="bi bi-x-circle display-none" id="icon-close"></i>
                    </li>
                </ul>
            </div>

            <div class="form-search shadow-lg display-none">
                <form asp-action="ProcessInput" method="post">
                    <input type="text" name="viewInput" />
                    <button type="submit">Gửi</button>
                </form>

                @* <div class="form-list-car">
                    <ul class="render-car-bike">
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                        <li class="render-car-bike--item">
                            <a href="">
                                <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png"
                                    alt="">
                                <div>
                                    <h5>Đặt Xe Bike</h5>
                                    <p>155 Phân Khối</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div> *@
            </div>
        </div>
    </div>
</header>
