<header class="shadow-sm">
    <div class="container">
        <div class="header-wp">
            <div class="left-header">
                <a href="/">
                    <partial name="../icons/logo.cshtml" />
                </a>
            </div>
            <div class="right-header">
                <ul>
                    <li>
                        <a href="/thue-xe-may">Thuê Xe Máy</a>
                    </li>
                    <li>
                        <a href="/about/pricelist">Bảng Giá</a>
                    </li>
                    <li>
                        <a href="/about/policyBooking">Chính Sách</a>
                    </li>
                    <li>
                        <a href="/about/introduce">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="/about/contact">Liên Hệ</a>
                    </li>
                    <li>
                        <a href="/chinh-sach">Blog Du Lịch</a>
                    </li>
                    <li>
                        <i class="bi bi-search" id="icon-search"></i>
                        <i class="bi bi-x-circle display-none" id="icon-close"></i>
                    </li>
                </ul>
            </div>

            <div class="form-search shadow-lg display-none">
                <input type="text" id="input-search">

                <div class="form-list-car"></div>
            </div>
        </div>


    </div>
</header>

<script>
    const btnSearch = document.querySelector("#icon-search");
    const btnCloseSearch = document.querySelector("#icon-close");
    const formSearch = document.querySelector(".form-search");
    const inputSearch = document.querySelector("#input-search")

    let textSearch;

    @* open form search *@

        btnSearch.addEventListener("click", () => {
            btnSearch.classList.add("display-none");
            btnCloseSearch.classList.remove("display-none")
            formSearch.classList.remove("display-none")
            inputSearch.focus();

        })

    @* close form search *@

        btnCloseSearch.addEventListener("click", () => {
            btnSearch.classList.remove("display-none");
            btnCloseSearch.classList.add("display-none");
            formSearch.classList.add("display-none");
        })

    @*change input *@

        const debounce = (func, time) => {
        let timeoutId;
        return function (...args) {

            clearTimeout(timeoutId);

            timeoutId = setTimeout(() => {
                func.apply(this, args);
            }, time);
        };
    }


    const debouncedInputChange = debounce((item) => {
        console.log("text:", item.target.value);
    }, 1000);

    inputSearch.addEventListener("input", debouncedInputChange);

</script>