<header class="shadow-sm">
    <div class="container">
        <div class="header-wp">
            <div class="left-header">
                <a href="/">
                    <partial name="../icons/logo.cshtml" />
                </a>
            </div>
            <div class="right-header">
                <ul>
                    <li>
                        <a href="/blog/thuexemay">Thuê Xe Máy</a>
                    </li>
                    <li>
                        <a href="/about/pricelist">Bảng Giá</a>
                    </li>
                    <li>
                        <a href="/about/policyBooking">Chính Sách</a>
                    </li>
                    <li>
                        <a href="/about/introduce">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="/about/contact">Liên Hệ</a>
                    </li>
                    <li>
                        <a href="/travel/blogdulich">Blog Du Lịch</a>
                    </li>
                    <li>
                        <a href="/System">Admin</a>
                    </li>
                    <li>
                        <a href="/ManagerBike?query=-1">Kiểm tra đơn hàng</a>
                    </li>
                    <li>
                        <i class="bi bi-search" id="icon-search"></i>
                        <i class="bi bi-x-circle display-none" id="icon-close"></i>
                    </li>
                </ul>
            </div>
            <div class="form-search shadow-lg display-none">
                <form asp-action="HandleData" method="post" asp-controller="Home">
                    <div style="display: flex; align-items: center; gap: 4px; padding: 2px 4px;">
                        <input type="text" name="viewInput" placeholder="Nhap xe tim kiem..." required />
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
