@{
    ViewData["Title"] = "Chính sách";
}


<div class="form-contact">
    <div class="overlay">
        <div class="container form-header">
            <h1>Liên hệ</h1>
            <div class="underlined-h1"></div>
        </div>
    </div>

    <div class="container">
        <div class="form-content row">
            <div class="col col-5 control-contact">
                <h3>Liên hệ với chúng tôi</h3>

                <div class="row">
                    <div class="col col-6">
                        <div class="form-input">
                            <label for="name">Tên của bạn (bắt buộc)</label><br />
                            <input type="text" id="name" class="shadow-sm">
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-input">
                            <label for="location">Địa chỉ Email (bắt buộc)</label><br />
                            <input type="text" id="location" class="shadow-sm">
                        </div>
                    </div>
                </div>

                <div class="form-input">
                    <label for="title">Tiêu đề:</label><br />
                    <input type="text" id="title" class="shadow-sm">
                </div>

                <div class="form-input">
                    <label for="message">Thông điệp</label><br />
                    <textarea name="" id="message" class="shadow-sm"></textarea>
                </div>

                <div class="btn-sent">
                    <p>Gửi đi <i class="bi bi-0-square-fill"></i></p>
                </div>

            </div>

            <div class="info-contact col col-5">
                <h3>Thông tin liên hệ</h3>

                <p><i class="bi bi-telephone-fill"></i>Tổng đài (24/24H): <span>0338 023 344</span></p>

                <p><i class="bi bi-envelope-fill"></i> contact@motogo.vn</p>

                <p><i class="bi bi-clock"></i> Thứ 2- Chủ Nhật: 7:00 AM – 10:00 PM</p>

                <h5><i class="bi bi-house-door-fill"></i> Hà Nội</h5>

                <ul>
                    <li><i class="bi bi-geo-alt"></i></i> <a
                            href="https://www.google.com/maps/place/113+P.+Nguy%E1%BB%85n+Ch%C3%ADnh,+T%C3%A2n+Mai,+Hai+B%C3%A0+Tr%C6%B0ng,+H%C3%A0+N%E1%BB%99i/20.978647,105.8482922,17z/data=!4m6!3m5!1s0x3135ac413525cedf:0x92689d5072809118!8m2!3d20.9786444!4d105.8482924!16s%2Fg%2F11fm_jkczx?hl=vi-VN&entry=ttu">
                            113 Nguyễn Chính , Tân Mai, Hà Nội</a>
                    </li>
                    <li><i class="bi bi-geo-alt"></i></i> <a
                            href="https://www.google.com/maps/place/MOTOGO+-+D%E1%BB%8Bch+v%E1%BB%A5+cho+thu%C3%AA+xe+m%C3%A1y/21.0451057,105.776209,17z/data=!3m1!4b1!4m6!3m5!1s0x313454cc3e8e482b:0xa121536212698a4e!8m2!3d21.0451007!4d105.7787839!16s%2Fg%2F11bymyl7t9?hl=vi-VN&entry=ttu">1081
                            Hồng Hà, Chương Dương, Hoàn Kiếm, Hà Nội, Việt
                            Nam</a></li>
                    <li><i class="bi bi-geo-alt"></i></i> <a href="">Số 7 Đường Trục Chính Phía Tây, Thôn Điền Xá, Quang
                            Tiên,Sóc Sơn, Hà Nội</a></li>
                </ul>

                <h5>Hà Giang</h5>

                <ul>
                    <li><i class="bi bi-geo-alt"></i></i> <a href="">Tổ 1, Thôn Cầu Mè, Phương Thiện, Hà Giang, Việt
                            Nam</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>