@{
    ViewData["Title"] = "Chính sách";
}

<script>
    const indexSibar = [1, 2, 3, 4, 5]

</script>

<div class="form-policy-booking">
    <div class="overlay">
        <div class="container form-header">
            <h1>chính sách</h1>
            <div class="underlined-h1"></div>
        </div>


    </div>

    <div class="form-content container">
        <div class="row">
            <div class="col-4">
                <div class="sibar">
                    <div class="form-item sib-one">
                        <button>Thời gian thuê xe</button>
                    </div>

                    <div class="form-item sib-two">
                        <button>Thủ tục thuê xe</button>
                    </div>

                    <div class="form-item sib-three">
                        <button>Giá thuê xe</button>
                    </div>

                    <div class="form-item sib-four">
                        <button>Trách nhiệm bên thuê</button>
                    </div>

                    <div class="form-item lib-five">
                        <button>Trách nhuêmj bên thuê xe</button>
                    </div>
                </div>
            </div>

            <div class="col-8 time-booking">
                <h3>Thời gian thuê xe</h3>

                <h5>Giá thuê xe sẽ được tính kết hợp theo ngày và theo giờ</h5>

                <p class="fw-bold mt-4">01 ngày thuê <span class="fw-normal">sẽ là 24 tiếng, tính từ giờ, thời điểm bạn
                        nhận
                        xe ngày hôm nay
                        đến đúng giờ đó
                        ngày hôm sau.</span></p>

                <p class="fw-bold mt-4">Giờ thuê xe <span class="fw-normal">chỉ được áp dụng khi bạn thuê xe > 1 ngày.
                        Giá theo giờ phát
                        sinh sẽ tùy thuộc vào
                        loại
                        xe bạn thuê:</span></p>

                <table>
                    <tr>
                        <td class="fw-bold">Xe số</td>
                        <td>15k/tiếng phát sinh</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Xe tay ga</td>
                        <td>20k/tiếng phát sinh</td>
                    </tr>
                </table>

                <p class="fw-bold mt-3">Lưu ý: <span class="fw-normal">Nếu số giờ phát sinh của bạn > 8 tiếng, MOTOGO sẽ
                        tính
                        tròn là 1 ngày
                        thuê xe.</span>
                </p>

                <p>Ví dụ: Bạn thuê một xe số Sirius,</p>

                <p class="fw-bold mt-3">Nhận xe: <span class="fw-normal">9h sáng, 21/03/2022</span></p>
                <p class="fw-bold mt-3">Trả xe lúc: <span class="fw-normal">3h chiều, 22/03/2022</span></p>

                <p class="mt-4">Hệ thống của chúng tôi sẽ tính toán như sau: Tổng thời gian bạn thuê xe sẽ là 1 ngày và
                    6 tiếng, bạn
                    sẽ thay toán cho tổng thời gian thuê xe đó bao gồm giá thuê xe 1 ngày là 130k và giá thuê xe 06
                    tiếng phát sinh còn lại còn lại = 90k. Tổng số tiền thuê xe của bạn sẽ là 220k.</p>

                <h5>Ngày đầu tiên thuê xe, bạn thuê một vài tiếng thì vẫn phải trả tiền thuê xe tròn 1 ngày.</h5>
            </div>
        </div>

    </div>
</div>