@{
    ViewData["Title"] = "Chính sách";
}

<script>
    const indexSibar = [1, 2, 3, 4, 5]

</script>

<div class="form-policy-booking">
    <div class="overlay">
        <div class="container form-header">
            <h1>chính sách</h1>
            <div class="underlined-h1"></div>
        </div>


    </div>

    <div class="form-content container">
        <div class="row">
            <div class="col-4">
                <div class="sibar">
                    <div class="form-item sib-one">
                        <button>Thời gian thuê xe</button>
                    </div>

                    <div class="form-item sib-two">
                        <button>Thủ tục thuê xe</button>
                    </div>

                    <div class="form-item sib-three">
                        <button>Giá thuê xe</button>
                    </div>

                    <div class="form-item sib-four">
                        <button>Trách nhiệm bên thuê</button>
                    </div>

                    <div class="form-item lib-five">
                        <button>Trách nhuêmj bên thuê xe</button>
                    </div>
                </div>
            </div>
            <div class="col-8">b</div>
        </div>

    </div>
</div>